In our first lessons about classes, we have covered making a normal, standard class. But in this lesson we will learn that there are other, easier types of classes that we can make. These classes come with many of the magic methods like __repr__ pre-filled.

In [23]:
#the first simple type of class is namedtuple
#import namedtuple from the collections module

In [24]:
import datetime 
from collections import namedtuple

In [25]:
#A namedtuple is exactly like a Tuple, but each slot in it has a name that
#specifies the contents

In [26]:
Student = namedtuple('Student', ['first_name', 'last_name', 'start_date'])

In [27]:
steve1 = Student('Steve', 'Williams', datetime.date(2019, 12, 1))

In [28]:
steve

Student2(first_name='Steve', last_name='Williams', start_date=datetime.date(2019, 12, 15))

In [29]:
#Notice how when we print 'steve' it shows a pre-baked format. This means that the
#namedtuple comes with a default __repr__ method

In [30]:
#A NamedTuple is just like a Tuple, but it allows for type hinting
from typing import NamedTuple
class Student2(NamedTuple):
    first_name: str
    last_name: str
    start_date: datetime.date

In [31]:
steve2 = Student2(first_name='Steve', last_name='Williams', start_date = datetime.date(2019, 12,15))

In [33]:
#When we print 'steve2' we see that it has a __repr__ and __str__ functions
#already pre-written
print(steve2)

Student2(first_name='Steve', last_name='Williams', start_date=datetime.date(2019, 12, 15))

We can also add more methods to the NamedTuple, for example, how would we display the student's first name and last name one after another. We can create a new property called "full_name" that returns the two names together.

In [49]:
from typing import NamedTuple
class Student3(NamedTuple):
    first_name: str
    last_name: str
    start_date: datetime.date
        
    def full_name(self): #just like any other class, so we can add methods
        return self.first_name + ' ' + self.last_name #we use 'self'

In [50]:
sara = Student3('Sara', 'Alvarez', datetime.date(2019, 12, 20))

In [51]:
sara.full_name()

'Sara Alvarez'

In [38]:
#namedtuple and NamedTuple, its typed variant, are two easy classes that let us 
#avoid the difficulties of trying to create new classes all our own

In [45]:
#There is one issue with namedtuple and its typed NamedTuple variant: as Tuples,
#these instances are immutable.

#if we try to set an attribute after we create a namedtuple, then we will get an
#AttributeError
try:
    sara.first_name = 'Sarah'
except AttributeError as e:
    print('We cannot set this attribute.')

We cannot set this attribute.

The `dataclass` first introduced in Python 3.7 offers a simple class specified by a decorator. It's attributes are mutable, but otherwise it behaves the same as other Python classes.

In [46]:
#first, we import dataclasses
from dataclasses import dataclass

In [52]:
@dataclass
class Student4:
    first_name: str
    last_name: str
    date_started: datetime.date

In [53]:
jessica = Student4('Jessica', 'Fuentes', datetime.date(2019, 12, 20))

In [57]:
#Let's print "jessica" to see how dataclasses are displayed by the computer
print(jessica)

Student4(first_name='Jessica', last_name='Fuentes', date_started=datetime.date(2019, 12, 20))

As we can see, dataclasses and namedtuples (as well as NamedTuples) offer us the ability to use simple classes with many of their methods already defined for us.