This lesson will describe the Python set. The set is one of the basic Python datatypes.

A set is a group of items that are unique. Each item is different from the others.

In [1]:
#We can make a Python set with the `set()` function.

s = set() #creates an empty set
print(s)

set()

In [2]:
#We can now add items to the set by calling the add method
s.add(2)
print(s)

{2}

In [3]:
#Let's add another item
s.add(3)
print(s)

{2, 3}

As we said above, everything in a set is unique. This means if we add an element to a set that is already there, the set stays the same.

In [4]:
s.add(3) #doesn't raise an error
print(s) #stays the same
s.add('a')
print(s) #adds 'a' to the set

{2, 3}
{'a', 2, 3}

If we create a set using a single string, Python will break the string down into its characters.

In [5]:
s2 = set('Villcabamba')
s2

{'V', 'a', 'b', 'c', 'i', 'l', 'm'}

Set s2 displays all the unique letters that are in the name of Villcabamba. This may be helpful if we want to compare the letters that are in two words.

We do this using the `.intersection()` method.

In [6]:
quito = set('Quito')
loha = set('Loha')

In [7]:
print(quito)
print(quito.intersection(s2)) #This will print out the letters that are in both quito and s2

{'i', 'Q', 'o', 't', 'u'}
{'i'}

In [8]:
#We can create a function to easily print out the letters in common between two words:
def letters_in_common(word1, word2):
    set1= set(word1) #get the unique letters of word 1
    set2 = set(word2) #get the unique letters of word 2
    return set1.intersection(set2)

In [9]:
letters_in_common(quito, loha)

{'o'}

We can also determine what letters both of the words have in them with the `.union()` method.

In [10]:
quito.union(loha)

{'L', 'Q', 'a', 'h', 'i', 'o', 't', 'u'}

As you can see, it prints out the list of letters that are in either Loha or Quito.

We can also use a for loop to add items to a set. For example, let's add the numbers from 1 to 5 to this set. We can do this very easily by:

1) creating a `range()` object with 0 as the first argument, and 101 as the second argument** `range(1, 101)`

2) creating a `set()` directly out of that range

**Think of the range function's arguments as telling the computer where to start and where to stop. You start at 0, then you enter 101 to tell the computer that once its reached 101, its finished. Thus it ends with the number 100.

In [11]:
numbers_to_100 = set(range(0, 101))

We can also take a list of words and identify only the unique words in them.

In [13]:
cities = ['Villcabamba', 'Villcabamba', 'Loha']

In [14]:
city_set = set(cities)

In [15]:
city_set #notice how it has only the unique city values.

{'Loha', 'Villcabamba'}