Pandas is the premier data analysis library for Python. This lesson will give you an introduction to the Pandas library and its capabilities.

In [5]:
#Let's import pandas first as pd
import pandas as pd

One of the most important sources of data for data science is goverment statistics. Perhaps no type of statistics are more prominent than election results. This lesson will use election results to show you how to use Pandas, Python's data analysis library for results from the 2017 UK general election.

In [6]:
#The Pandas series: the pandas series is the most basic type of data in Pandas. It is like a one-dimensional
#array or list. Let's create a dictionary and then convert the data into a series.

In [7]:
series_data_2017 = {'Mark Fields (Conservative)': 18005, 'Ibrahim Dougas (Labour)': 14857,
                   'Bridget Fox (Liberal Democrat)': 4270, 'Lawrence McNally (Green)': 821,
                   'Anil Bhatti (UKIP)': 426, 'Tim Lord':173, 'Ankit Love':59,
                    'Benjamin Weenen (Young People)': 43}

In [10]:
london_westminster2017 = pd.Series(series_data_2017) #we feed the data to a dictionary

In [9]:
london_westminster2017

Mark Fields (Conservative)        18005
Ibrahim Dougas (Labour)           14857
Bridget Fox (Liberal Democrat)     4270
Lawrence McNally (Green)            821
Anil Bhatti (UKIP)                  426
Tim Lord                            173
Ankit Love                           59
Benjamin Weenen (Young People)       43
dtype: int64

In [16]:
#Now let's create a dataframe with this series.
election1 = pd.DataFrame(london_westminster2017)

In [26]:
#election1.reindex(['candidate', 'votes'])

In [24]:
#Let's transpose this dataframe so that the data is horizontal instead of vertical
new_result = election1.T
new_result

,Mark Fields (Conservative),Ibrahim Dougas (Labour),Bridget Fox (Liberal Democrat),Lawrence McNally (Green),Anil Bhatti (UKIP),Tim Lord,Ankit Love,Benjamin Weenen (Young People)
0,18005,14857,4270,821,426,173,59,43

In [31]:
#Let's pretend Ankit Love has dropped out of the race. We need to delete him.

election1[0].drop('Ankit Love')

Mark Fields (Conservative)        18005
Ibrahim Dougas (Labour)           14857
Bridget Fox (Liberal Democrat)     4270
Lawrence McNally (Green)            821
Anil Bhatti (UKIP)                  426
Tim Lord                            173
Benjamin Weenen (Young People)       43
Name: 0, dtype: int64

In [35]:
#Let's calculate the minimum and maximum values
election1.max() #notice how it prints an integer

0    18005
dtype: int64

In [37]:
election1.min() #notice how it prints another integer

0    43
dtype: int64