Welcome to sql and python lesson 2. Last lesson, we created a basic database, added some data, tested it around, and deleted it. We used an in-memory database because we did not intend to keep the data.

In this lesson, we will expand our sql database to save data to the
disk, and to manipulate it using the Python REPL or terminal. We will stick to one table for this lesson. Next lesson, we will start learning how to use multiple tables.

Let's start by importing the sqlite3 module again.

In [1]:
#Let's load the sqlite3 module
import sqlite3 #imports the module sqlite3

In [2]:
#this time, we will create a file in our working directory to store the database.
db = sqlite3.connect('cities.db') #be sure the file ends with .db or .sql

Note: If you're using Jupyter notebooks, you should see the 'tool_cooperative.db' file in your left panel. If you are using an IDE, you can find the file using the `os` and `glob` modules.

Now let's create a cursor to connect to the database.

In [3]:
cur = db.cursor()

Let's use this occasion to execute the SQL statements that will create the database ourselves. Let us first delete the "cities" table if it exists so we can create a new one.

In [4]:
#primary key is the key we will use to retrieve items for the database.

sql_create_statement = ['create table cities (id integer primary key, name text not null, province text, \
                         country text not null, population integer)']

#'not null' means we have to have a value for that field. 

#Note: you can use capital letters if you want. Much SQL code you'll encounter is in capitals
#but using them is not required

Now that we have our sql statement, let's execute it with the `cur.execute()` statement to run it and create the cities table in the database

In [5]:
cur.execute(sql_create_statement[0])

Now let's add Villcabamba as our first city. As you all know its in Loja province, Ecuador, with a 
population of approximately 4000.

In [6]:
cur.execute('insert into cities (ID, name, province, country, population) values (1, "Villcabamba", "Loja", "Ecuador", 4000)')

We're about to retrieve the data on Villcabamba in a second, but before that, let's add Loja.

In [7]:
cur.execute('insert into cities (ID, name, province, country, population) values (2, "Loja", "Loja", "Ecuador", 4000)')

Now we have two cities in our database. Let's commit the changes to make them permanent with `db.commit()`

In [9]:
db.commit()

In [11]:
#Now let's get the data for Villcambamba. We will start out with a simple query that retrieves all the 
#fields for it.

sql = 'select * from cities where name = "Villcabamba"'
villcabamba = cur.execute(sql)
print(villcabamba.fetchall())

[(1, 'Villcabamba', 'Loja', 'Ecuador', 4000)]